<tr>
  <td>
    <time datetime="{{datetime}}">{{date}}</time>
  </td>
  <td>
    <a href="{{url}}">{{venue}}</a>
    <em class="show-info">{{info}}</em>
  </td>
  <td>{{city}}</td>
  <td>
    <a href="{{url}}" class="btn-tickets">
      {{#if isinfo}}
      Info
      {{else}}
      Tickets
      {{/if}}
    </a>
  </td>
</tr>
