<nav role="nav" class="nav-main">
  <ul>
    <li>
      <%= link_to "News", news_path %>
    </li>
    <li>
      <%= link_to "Shows", shows_path %>
    </li>
    <li>
      <%= link_to "Articles", articles_path %>
    </li>
    <li>
      <%= link_to "Video", video_path %>
    </li>
    <li>
      <%= link_to "Merch", merch_path %>
    </li>
  </ul>
</nav>
