<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Chris Gethard - Comedian, Writer, Actor, strange fella</title>
  <meta name="description" contents="This is where famous comedian Chris Gethard’s website will be.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,700,700italic,900|Roboto+Condensed:700" rel="stylesheet">
  <%= stylesheet_link_tag "/assets/css/app.css" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= yield :body_class %>">
  <header role="banner">
    <a href="./" class="geth-title"><h1>Chris Gethard</h1></a>
    <%= render "layouts/nav" %>
  </header>

  <div role="main">
    <%= yield %>

    <div role="contentinfo">
      <a href="https://twitter.com/ChrisGethard">Twitter</a> <a href="https://www.facebook.com/gethard">Facebook</a> <a href="http://thechrisgethardshow.com/">TCGS</a>
    </div>
  </div>

</body>
</html>
