<% provide :html_class, "page--show" %>
<%= render 'layouts/common_head' %>
<body>
  <div class="show-poster">
    <header class="show-poster__callout">
      <h3 class="show-poster__headline">Live</h3>
      <h4 class="show-poster__byline">In concert</h4>
    </header>

    <h1 class="show-poster__name">Chris Gethard</h1>

    <%= yield %>
  </div>
  <nav role="navigation" class="show-nav">
    <%= link_to "Home", root_path %>
    <%= link_to "News", news_path %>
    <%= link_to "Shows", shows_path %>
    <%= link_to "Articles", articles_path %>
    <%= link_to "Videos", videos_path %>
    <%= link_to "Merch", merch_path %>
  </nav>
</body>
</html>
